<h1><%= plural_name.titleize %></h1>

<%%= will_paginate %>

<table>
	<thead>
	  <tr>
	  <%- for attribute in attributes -%>
	    <th><%= attribute.column.human_name.titleize %></th>
	  <%- end -%>
	  </tr>
	</thead>
	<tbody>
	  <%% for <%= singular_name %> in @<%= plural_name %> %>
    <tr>
    <%- for attribute in attributes -%>
    	<%- if currencies.include?(attribute.name) -%>
		  <td><%%=h number_to_currency(<%= singular_name %>.<%= attribute.name %>) %></td>
			<%- else -%>
			<td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
		  <%- end -%>
		<%- end -%>
	    <td><%%= link_to_crud <%= singular_name %> %></td>
    </tr>
	  <%% end %>
	</tbody>
</table>

<%%= will_paginate %>

<%- if action? :new -%>
<p><%%= link_to_new :<%= singular_name %>, :text => "New <%= singular_name.titleize %>" %></p>
<%- end -%>
