<h1><%% "<%= plural_name.titleize %>" %></h1>

<table>
  <tr>
  <%- for attribute in attributes -%>
    <th><%= attribute.column.human_name.titleize %></th>
  <%- end -%>
  </tr>
  <%% for <%= singular_name %> in @<%= plural_name %> %>
    <tr>
    <%- for attribute in attributes -%>
      <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
    <%- end -%>
	    <td><%%= link_to_crud <%= singular_name %> %></td>
    </tr>
  <%% end %>
</table>

<%- if action? :new -%>
<p><%%= link_to_new :<%= singular_name %>, :text => "New <%= singular_name.titleize %>" %></p>
<%- end -%>
