<h1><%= singular_name.titleize %></h1>

<%- for attribute in attributes -%>
<p>
  <strong><%= attribute.column.human_name.titleize %>:</strong>
	<%- if currencies.include?(attribute.name) -%>
  <%%=h number_to_currency(@<%= singular_name %>.<%= attribute.name %>) %>
	<%- else -%>
	<%%=h @<%= singular_name %>.<%= attribute.name %> %>
  <%- end -%>
</p>
<%- end -%>
<% if !paperclips.blank? %>
  <% for paperclip in paperclips %>
<p>
	<strong><%= paperclip.titleize %></strong>
	<%%= link_to_paperclip(@<%= singular_name %>, :<%= paperclip %>) %>
</p>
  <% end %>
<% else %>
  
<% end %>

<p>
<%- if action? :edit -%>
  <%%= link_to_edit @<%= singular_name %>, :text => 'Edit' %> |
<%- end -%>
<%- if action? :destroy -%>
  <%%= link_to_destroy @<%= singular_name %>, :text => 'Destroy' %> |
<%- end -%>
<%- if action? :index -%>
  <%%= link_to "View All", <%= plural_name %>_path %>
<%- end -%>
</p>
